/* Error: Undefined mixin.
 *    ,
 * 13 | /   @include abstracts.screen(lg) {
 * 14 | |     --header-shadow-color: rgba(0, 0, 0, 0.2);
 * 15 | \   }
 *    '
 *   scss\theme\_dark.scss 13:3  @forward
 *   scss\theme\_index.scss 1:1  @use
 *   scss\main.scss 3:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502  \250c    @include abstracts.screen(lg) {\a 14 \2502  \2502      --header-shadow-color: rgba(0, 0, 0, 0.2);\a 15 \2502  \2514    }\a    \2575 \a   scss\\theme\\_dark.scss 13:3  @forward\a   scss\\theme\\_index.scss 1:1  @use\a   scss\\main.scss 3:1          root stylesheet";
}
