// Thiết kế giao diện sáng
@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(12%) saturate(2680%) hue-rotate(210deg) brightness(95%)
    contrast(98%);

  --body-background: #f6f6f6;
  --header-background-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(lg) {
    --header-background-color: #fff;
    --header-shadow-color: rgba(0, 0, 0, 0.15);
  }

  //Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;

  //Sidebar (cho tablet đổ xuống)
  --sidebar-bg: #fff;
  --sidebar-shadow: rgba(200, 200, 200, 0.4);

  //cate-item
  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title-color: #000;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  //button filter
  --filter-btn-color: #6c6c72;
  --filter-btn-color-bg: #fff;
  --favourite-btn-shadow: rgba (124, 124, 124, 0.2);

  //product-card
  --product-card-color-bg: #fff;
  --prodct-card-shadow-color: rgba(237, 237, 246, 0.2);

  //Filter-form
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --form-tag-bg: #f8f8fb;

  //Footer
  --footer-bg-color: #eee;
  --footer-text-color: #6e6d74;

  //Auth
  --auth-color-content-bg: #fff;

  @include abstracts.screen(md) {
    --auth-intro-bg: #fff;
  }

  //product-details
  --product-details-bg: #fff;
  --product-detail-info-bg: #f6f6f6;
  @include abstracts.screen(md) {
    --product-details-bg: #fafafa;
    --product-detail-info-bg: #fff;
  }
  --breadcrumb-bg-color: #f6f6f6;
  @include abstracts.screen(md) {
    --breadcrumb-bg-color: #fff;
  }
  --breadcrumb-shadow: rgba(237, 237, 246, 0.2);
}
