@use "../abstracts";

%flexItemCenter {
  display: flex;
  align-items: center;
}

.logo {
  @include abstracts.breakpoint(sm) {
    margin: 0 auto;
  }
}

.logo__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  box-shadow: 0 2px 4px var(--header-shadow-color);
}

.header {
  background: var(--header-background-color);

  @include abstracts.breakpoint(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemCenter;
  position: relative;
  padding: 30px 0;

  @include abstracts.breakpoint(lg) {
    padding: 20px 0;
  }

  @include abstracts.breakpoint(sm) {
    justify-content: space-between;
    padding: 16px 0;
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.breakpoint(xxl) {
    margin: 0 auto;
  }

  @include abstracts.breakpoint(xl) {
    margin: 0 30px 0 50px;
  }

  @include abstracts.breakpoint(lg) {
    position: fixed;
    z-index: 10;
    inset: 0 50% 0 0;
    background: #fff;
    padding: 20px 0;
    margin-left: 0;
    translate: -100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  &__close-btn {
    display: none;

    @include abstracts.breakpoint(lg) {
      display: block;
      padding: 10px 40px;
    }
  }

  //chỉ hiện trên tablet
  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.breakpoint(lg) {
      // visibility: 1;
      // opacity: 1;
      position: fixed;
      inset: 0;
      transition: opacity, visibility;
      transition-duration: 0.5s;
      background: rgba($color: #000, $alpha: 0.4);
    }
  }

  &__list {
    @extend %flexItemCenter;

    @include abstracts.breakpoint(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    width: 100%;
    &:hover .dropdown {
      display: block;
    }

    @include abstracts.breakpoint(lg) {
      &:hover .dropdown {
        display: none;
      }
    }
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    padding: 0 15px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 147%;

    @include abstracts.breakpoint(lg) {
      justify-content: space-between;
      padding: 0 40px;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
    }
  }

  &__arrow {
    margin-top: 3px;
  }
}

.top-act {
  @extend %flexItemCenter;
  margin-left: auto;
  gap: 20px;

  @include abstracts.breakpoint(sm) {
    margin-left: 0;
  }

  @include abstracts.breakpoint(md) {
    margin-left: 0;
  }

  &__group {
    @extend %flexItemCenter;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    @extend %flexItemCenter;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 147%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    cursor: pointer;
  }
}
