.filter-wrap {
  position: relative;
  z-index: 1;
}

.filter {
  position: absolute;
  right: 0;
  top: 50px;
  padding: 30px;
  border-radius: 20px;
  background: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 146%;
  }

  &__form {
    margin-top: 30px;

    &-label {
      display: block;
      font-size: 2.2em;
      font-weight: 500;
      line-height: 146%;

      &--small {
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 143%;
      }
    }

    &--inline {
      display: flex;
      gap: 30px;
    }

    &-group {
      margin-top: 20px;

      &--inline {
        display: flex;
        gap: 30px;
      }
    }

    &-slider {
      position: relative;
      height: 2px;
      width: 100%;
      background: #d2d1d6;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -50%;
        translate: 0 -50%;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;
        background: var(--filter-form-bg);
      }

      &::before {
        left: var(--min-value);
      }

      &::after {
        right: var(--max-value);
      }
    }

    &-text-input,
    &-select-wrap {
      border-radius: 6px;
      border: 1px solid #d2d1d6;
    }

    &-text-input {
      display: flex;
      align-items: center;
      width: 334px;
      height: 44px;
      padding: 0 16px;
      overflow: hidden;

      &--small {
        width: 121px;
        height: 36px;
        padding: 0 12px;
      }
    }

    &-text-input--small &-input {
      font-size: 1.4rem;
    }

    &-input {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 147%;

      &::placeholder {
        color: #9e9da8;
        font-weight: 400;
      }
    }

    &-input-icon {
      margin-left: 12px;
    }

    &-select-wrap {
      display: flex;
      align-items: center;
      height: 45px;
    }

    &-select {
      height: calc(100% - 10px);
      justify-content: space-between;
      display: flex;
      align-items: center;

      &:first-child {
        border-right: 1px solid #d2d1d6;
      }

      &-choose,
      option {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 143%;
        border: 1px solid #d2d1d6;
        cursor: pointer;
      }

      &-choose {
        position: relative;
        min-width: var(--width, 108px);
        border: none;
        margin: 0 14px;
      }
    }

    &-tags {
      flex-wrap: wrap;
      display: flex;
      gap: 10px 20px;
    }

    &-tag {
      padding: 6px 12px;
      border-radius: 6px;
      color: #9e9da8;
      background: var(--filter-form-tag-bg);
      font-size: 1.4rem;
      font-weight: 500;
      color: #9e9dab;
      transition: color 0.25s;

      &:hover {
        color: var(--text-color);
      }
    }
  }

  &__row {
    display: flex;
  }

  &__separate {
    width: 1px;
    height: 100%;
    background: #eee;
    margin: 0 30px;
  }
}
