@use "../abstracts";
$error-color: #ed4337;

.form {
  // Nếu bên trong form có bất kỳ input không hợp lệ (:invalid), thì nút submit (&__submit-btn) sẽ mờ đi và không thể nhấn được.
  &:has(:invalid) &__submit-btn {
    opacity: 0.5;
    pointer-events: none;
  }

  &__group {
    margin-top: 30px;

    @include abstracts.screen(md) {
      margin-top: 20px;
    }

    &--inline {
      display: flex;
      align-items: center;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: $error-color;
      background: rgba($error-color, $alpha: 0.1);
    }

    .form__error,
    .form__input-icon-warning {
      display: block;
    }

    .form__input-icon {
      display: none;
    }
  }

  &__text-input {
    position: relative;
    height: 50px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;

    &:focus-within {
      border-color: #1662d3;
    }

    @include abstracts.screen(md) {
      height: 48px;
    }
  }

  &__error {
    display: none;
    margin-top: 10px;
    font-size: 1.4rem;
    text-align: left;
    color: red;
  }

  &__input-icon-warning {
    display: none;
    margin-left: 12px;
    filter: brightness(0) saturate(100%) invert(25%) sepia(50%) saturate(3180%) hue-rotate(344deg) brightness(118%)
      contrast(86%);
    animation: shake 0.5s;
  }

  &__input {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 145%;

    &::placeholder {
      color: var(--form-input-placeholder-color);
    }

    @include abstracts.screen(md) {
      font-size: 1.6rem;
    }
  }

  &__input-icon {
    margin-left: 12px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(6%) saturate(417%) hue-rotate(206deg) brightness(93%)
      contrast(81%);
  }

  &__pull-right {
    margin-left: auto;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    &-label {
      color: #9e9da8;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 147%;

      @include abstracts.screen(md) {
        font-size: 1.4rem;
      }
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 6px;
      border: 2px solid #9e9da8;
      background: #fff;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 7px;
      width: 7px;
      height: 13px;
      border: 2.5px solid #fff;
      border-width: 0 2.5px 2.5px 0;
      transform: rotate(45deg) scale(0);
    }

    &:has(:checked) {
      &::before {
        border-color: #9e9da8;
        background: #ffb700;
      }

      &::after {
        transform: rotate(45deg) scale(1);
        border-color: #fff;
      }
    }
  }

  &__label {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 146%;

    &--small {
      margin-bottom: 10px;
      font-size: 1.4rem;
      line-height: 143%;
    }
  }

  &__select-wrap {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
  }

  &__select {
    height: calc(100% - 10px);
    justify-content: space-between;
    display: flex;
    align-items: center;

    @include abstracts.screen(sm) {
      // min-width: var(--width, 78%);
      width: 100%;
    }

    @include abstracts.screen(xl) {
      flex: 1;
    }

    &:first-child {
      border-right: 1px solid #d2d1d6;
    }

    &-choose,
    option {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 143%;
      border: 1px solid #d2d1d6;
      cursor: pointer;
    }

    &-choose {
      position: relative;
      min-width: var(--width, 108px);
      border: none;
      margin: 0 14px;

      option {
        background: var(--filter-form-option-bg);
      }
    }
  }

  &__tags {
    flex-wrap: wrap;
    display: flex;
    gap: 10px 20px;

    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }

  &__tag {
    padding: 6px 12px;
    border-radius: 6px;
    color: #9e9da8;
    background: var(--form-tag-bg);
    font-size: 1.4rem;
    font-weight: 500;
    color: #9e9dab;
    transition: color 0.25s;

    &:hover {
      color: var(--text-color);
    }
  }
}
