.form {
  &:has(:invalid) &__submit-btn {
    opacity: 0.5;
    pointer-events: none;
  }

  &__group {
    margin-top: 30px;

    &--inline {
      display: flex;
      align-items: center;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: #ff0000;
      background: rgba(#ff0000, $alpha: 0.1);
    }

    .form__error,
    .form__input-icon-warning {
      display: block;
    }

    .form__input-icon {
      display: none;
    }
  }

  &__text-input {
    position: relative;
    height: 50px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;

    &:focus-within {
      border-color: #1662d3;
    }
  }

  &__error {
    display: none;
    margin-top: 10px;
    font-size: 1.4rem;
    text-align: left;
    color: red;
  }

  &__input-icon-warning {
    display: none;
    margin-left: 12px;
    filter: brightness(0) saturate(100%) invert(15%) sepia(94%) saturate(5581%) hue-rotate(3deg) brightness(100%)
      contrast(123%);
    animation: shake 0.5s;
  }

  &__input {
    flex: 1;
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 145%;
  }

  &__input-icon {
    margin-left: 12px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(6%) saturate(417%) hue-rotate(206deg) brightness(93%)
      contrast(81%);
  }

  &__pull-right {
    margin-left: auto;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    &-label {
      color: #9e9da8;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 147%;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 6px;
      border: 2px solid #9e9da8;
      background: #fff;
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 7px;
      width: 7px;
      height: 13px;
      border: 2.5px solid #fff;
      border-width: 0 2.5px 2.5px 0;
      transform: rotate(45deg) scale(0);
      transform-origin: center;
      transition: transform ease;
    }

    &:has(:checked) {
      &::before {
        border-color: #9e9da8;
        background: #ffb700;
      }

      &::after {
        transform: rotate(45deg) scale(1);
        border-color: #fff;
      }
    }
  }
}
