@use "../abstracts";

.logo {
  display: flex;
  align-items: center;
  gap: 14px;

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 145%;

    @include abstracts.screen(xl) {
      font-size: 2rem;
    }
  }

  &__img--footer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
  }
}
