@use "../abstracts";
.text-content {
  font-size: 1.6rem;
  line-height: 145%;

  @include abstracts.screen(md) {
    font-size: 1.5rem;
    line-height: 170%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    font-weight: 600;

    @include abstracts.screen(xl) {
      line-height: 145%;
    }
  }

  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.7rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1.1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  img,
  figure,
  ul,
  li,
  ol,
  table {
    margin: 20px 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  img + em {
    font-style: italic;
    display: block;
    text-align: center;
  }

  a {
    color: #0071dc;
    text-decoration: underline;

    &:active {
      opacity: 0.7;
    }
  }

  blockquote {
    padding: 20px;
    background: var(--blockquote-bg-color);
    border-left: 7px solid #000;
    border-radius: 6px;

    p {
      margin: 0;
    }

    @include abstracts.screen(md) {
      padding: 10px;
    }
  }

  hr {
    border: none;
    height: 2px;
    margin: 40px 0;
    background: #e1d9d9;
  }

  ul li {
    list-style-type: disc;

    @include abstracts.screen(md) {
      list-style-type: none;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border: 2px solid #555;
    background: var(--table-bg-color);
  }

  thead {
    font-size: 1.8rem;
  }

  th,
  td {
    border: 2px solid #999;
    padding: 10px;

    @include abstracts.screen(md) {
      font-size: 1.4rem;
    }
  }
}
