<div class="container">
  <div class="footer__inner">
    <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1 g-3">
      <!-- footer column 1 -->
      <div class="footer__col">
        <div class="footer__col-logo">
          <img src="./assets/img/logo-cafe02.jpg" alt="" class="logo__img--footer" />
          <h3 class="footer__col-item">order your favorite coffee</h3>
          <div class="footer__col-socials">
            <ul class="footer__col-social-list">
              <li>
                <a href="#!" class="footer__col-social-link">
                  <img src="../assets/icons/socials/facebook.svg" alt="" class="logo__img-icon" />
                </a>
              </li>
              <li>
                <a href="#!" class="footer__col-social-link">
                  <img src="../assets/icons/socials/instagram.svg" alt="" class="logo__img-icon" />
                </a>
              </li>
              <li>
                <a href="#!" class="footer__col-social-link">
                  <img src="../assets/icons/socials/pinterest.svg" alt="" class="logo__img-icon" />
                </a>
              </li>
              <li>
                <a href="#!" class="footer__col-social-link">
                  <img src="../assets/icons/socials/tiktok.svg" alt="" class="logo__img-icon" />
                </a>
              </li>
              <li>
                <a href="#!" class="footer__col-social-link">
                  <img src="../assets/icons/socials/youtube.svg" alt="" class="logo__img-icon" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- footer column 2 -->
      <div class="footer__col">
        <h3 class="footer__heading">Shop</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">All Department</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Shipping</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Returns</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Tutorials</a>
          </li>
          <li>
            <a href="#!" class="footer__link">About Us</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>

      <!-- footer column 3 -->
      <div class="footer__col">
        <h3 class="footer__heading">Shop</h3>
        <ul class="footer__list">
          <li>
            <a href="#!" class="footer__link">All Department</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Shipping</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Returns</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Tutorials</a>
          </li>
          <li>
            <a href="#!" class="footer__link">About Us</a>
          </li>
          <li>
            <a href="#!" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>

      <!-- footer column 4 -->
      <div class="footer__col">
        <h3 class="footer__heading">Refresh your inbox</h3>
        <div class="footer__heading-desc">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid minima amet aut distinctio, nam quidem
          officia quas quis eligendi. Dolores culpa eos quasi unde quibusdam, error exercitationem tempora quas quod!
        </div>
        <div class="footer__form-group">
          <div class="footer__form-text-input">
            <input type="text" name="" id="" placeholder="Email address?" class="footer__form-input" />
            <img src="./assets/icons/search.svg" alt="" class="icon footer__form-input-icon" />
            <button class="btn btn--rounded footer__form--search">Sgin up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
