<div class="container">
  <div class="top-bar">
    <!-- More btn (only mobile & tablet) -->
    <button class="top-bar__more">
      <img
        src="./assets/icons/more.svg"
        alt=""
        class="icon top-bar__more-icon"
      />
    </button>

    <!-- Logo -->
    <a href="./" class="logo">
      <img
        src="./assets/img/logo-cafe02.jpg"
        alt="Coffee Shop"
        class="logo__img"
      />
      <h1 class="logo__title">Coffee Shop .</h1>
    </a>

    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Home
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
            />
          </a>
          <!-- menu đổ xuống khi dí chuột vào -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
              nam, sapiente facere ipsa rerum molestiae fuga impedit magni,
              earum totam dolore nesciunt placeat voluptatem cum iure laudantium
              quos deleniti veniam?
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Products<img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
          /></a>
          <!-- menu đổ xuống khi dí chuột vào -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
              nam, sapiente facere ipsa rerum molestiae fuga impedit magni,
              earum totam dolore nesciunt placeat voluptatem cum iure laudantium
              quos deleniti veniam?
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >About Us<img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
          /></a>
          <!-- menu đổ xuống khi dí chuột vào -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
              nam, sapiente facere ipsa rerum molestiae fuga impedit magni,
              earum totam dolore nesciunt placeat voluptatem cum iure laudantium
              quos deleniti veniam?
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Contact Us<img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow"
          /></a>
          <!-- menu đổ xuống khi dí chuột vào -->

          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
              nam, sapiente facere ipsa rerum molestiae fuga impedit magni,
              earum totam dolore nesciunt placeat voluptatem cum iure laudantium
              quos deleniti veniam?
            </div>
          </div>
        </li>
      </ul>
    </nav>

    <div class="top-act">
      <div class="top-act__group top-act__group--single">
        <button class="top-act__btn">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-act__icon"
          />
        </button>
      </div>

      <div class="top-act__group">
        <button class="top-act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </button>

        <div class="top-act__separate"></div>

        <button class="top-act__btn">
          <img
            src="./assets/icons/cart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">200.000đ</span>
        </button>
      </div>

      <div class="top-act__user">
        <img src="./assets/img/user.jpg" alt="" class="top-act__avatar" />
      </div>
    </div>
  </div>
</div>
